@font-face {
  font-family: 'iconfont';  /* project id 1734311 */
  src: url('//at.alicdn.com/t/font_1734311_botf3ljncnq.eot');
  src: url('//at.alicdn.com/t/font_1734311_botf3ljncnq.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1734311_botf3ljncnq.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1734311_botf3ljncnq.woff') format('woff'),
  url('//at.alicdn.com/t/font_1734311_botf3ljncnq.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1734311_botf3ljncnq.svg#iconfont') format('svg');
}
.icon {
  width: 64rpx; height: 64rpx;
  overflow: hidden;
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 60rpx;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	display: initial;
}

.iconsearch:before {content: "\e656";}
.iconstore:before {content: "\e63a";}
.iconcart:before {content: "\e93d";}
.iconlove:before {content: "\e600";}
.iconuser:before {content: "\e601";}
