@font-face {
  font-family: 'iconfont';  /* project id 1734311 */
  src: url('//at.alicdn.com/t/font_1734311_12igv4ip68x.eot');
  src: url('//at.alicdn.com/t/font_1734311_12igv4ip68x.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1734311_12igv4ip68x.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1734311_12igv4ip68x.woff') format('woff'),
  url('//at.alicdn.com/t/font_1734311_12igv4ip68x.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1734311_12igv4ip68x.svg#iconfont') format('svg');
}
.icon {
  width: 64rpx; height: 64rpx;
  overflow: hidden;
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 60rpx;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	display: initial;
}
/* 底部的几个图标 */
.iconsearch:before {content: "\e656";}
.iconstore:before {content: "\e63a";}
.iconcart:before {content: "\e93d";}
.iconlove:before {content: "\e600";}
.iconuser:before {content: "\e601";}

.iconmore:before {content: "\e613";}/* 三个点 更多 */
.iconhongxin:before {content: "\e603";}/* 红心 */
.iconkongxin:before {content: "\e602";}/* 空心 */
.iconright:before {content: "\e604";}/* 右箭头 */

.iconleftline:before {content: "\e605";}/* 装饰 */
.iconrightline:before {content: "\ecea";}/* 装饰 */

/* 我的图标 */
.iconsetting:before {content: "\e64b";}/* 设置 */
.iconaddress:before {content: "\e64e";}/* 地址 */
.iconkeys:before {content: "\e652";}/* 锁*/
.iconorder:before {content: "\e655";}/* 订单 */
.iconmessage:before {content: "\e657";}/* 信息 */
.iconedit:before {content: "\e7fb";}/* 编辑 */
.icondel:before {content: "\e60b";}/* 删除*/
.iconcar:before {content: "\e63f";}/* 购物车*/
.iconhome:before {content: "\e64f";}/* 首页*/
